* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./components/images/mathsbg.jpg);
  margin: 2rem;
}

.h1-box {
  background-color: #e0e0e0;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

h1 {
  font-size: 50px;
}

.h2-box {
  background-color: #e0e0e0;
  border: 2px solid lightgrey;
  border-radius: 10px;
  height: max-content;
}

h2 {
  font-size: 30px;
}

li {
  font-size: 20px;
  list-style: none;
}

p {
  margin-bottom: 1rem;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}
